<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}">
    </script>
</head>
<body class="container">
<h1>天门人员展示</h1><br>
<table class="table table-hover">
    <thead>
    <tr>
        <th>姓名</th>
        <th>身份</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="guest:${list}">
        <th th:text="${guest.name}">name</th>
        <th th:text="${guest.role}">role</th>
        <th>
            <a th:href="@{/guest/update/}+${guest.name}" class="btn btn-info">编辑</a>
        </th>
        <th>
            <!-- <a th:href="@{/guest/delete(name=${guest.name})}" class="btn btn-info">删除</a>-->
            <button th:attr="del_url=@{/guest/}+${guest.name}" name="del_button">删除</button>
        </th>
    </tr>
    </tbody>
</table>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/guest/add" th:href="@{/guest/add}" class="btn btn-info">add</a>
    </div>
</div>

<!--删除按钮要借助的表单-->
<form method="post" id="del_form">
    <input type="hidden" name="_method" value="delete">
</form>
<!--jquery将button与form绑定-->
<script>
    $(function(){
        $("button[name='del_button']").click(function(){
            $("#del_form").prop("action",$(this).attr("del_url")).submit();
        })
    })
</script>


</body>
</html>